.flightCardContainer {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px  rgba(0, 0, 0, 0.2);
  border-radius: 15px; 
}
.flightCardDestination {
  text-align: center;
  display: flex;
  width: 75%;
  margin-left: auto;
}
.flightCardPlace {
  width: 25%;
  margin-left: 5px;
  color: rgb(31, 38, 115);
}
.FlightCardImg {
  height: 20px;
  margin-left: 5px;
  margin-top: 24px;
}
.FlightCardAirline {
  margin-left: 20px;
}
.FlightCardScheduledTime {
  text-align: center;
}
.FlightCardDepartureInfo {
  text-align: right;
  margin-right: 30px;
}
.FlightCardLogo {
  width: 42%;
  float: left;
  margin-left: 30px;
  /*rgb(31, 38, 115) //  01CBB1*/
}